section#artikel
    header
        h3.section-title.bordered Artikel 
            span INDAGKOP
    div.items.aside
        div.featured(style='background-image: url("https://indagkop.kaltimprov.go.id/asset/foto_berita/DSC_6064.JPG")')
            div.item
                div.content 
                    span.date 10/02/2021
                    h2.item-title Rakor Bapok menuju HBKN
        div.list
            div.item
                div.content 
                    span.date 10/02/2021
                    h2.item-title Webinar Rakernas Kementerian Perdagangan
            div.item
                div.content 
                    span.date 10/02/2021
                    h2.item-title Rakernas Dewan Kerajinan Nasional 2021
            div.item
                div.content 
                    span.date 10/02/2021
                    h2.item-title Hilirisasi Komoditas Perkebunan Untuk Mendukung Ekspor Kaltim
            div.item
                div.content 
                    span.date 10/02/2021
                    h2.item-title Webinar Rakernas Kementerian Perdagangan