header
    h3.section-title Link
.items
    img(src="img/ind-1.jpg")
    img(src="img/ind-2.jpg")
    img(src="img/ind-3.jpg")
    img(src="img/ind-4.jpg")
    img(src="img/ind-5.jpg")
    img(src="img/ind-6.jpg")
    img(src="img/ind-7.jpg")