div.layer
div.container 
    div.row
        div.col-md-12
            header
                h3.section-title Unduhan
        div.col-md-2
            img(src='img/1.png')
        div.col-md-2
            img(src='img/2.png')
        div.col-md-2
            img(src='img/3.png')
        div.col-md-2
            img(src='img/4.png')
        div.col-md-2
            img(src='img/5.png')
        div.col-md-2
            img(src='img/6.png')