.card#harga
    .card-header
        strong.card-title Harga Kebutuhan Pokok
    .card-body
        div.items.list
            div.item
                figure
                    img(src="https://indagkop.kaltimprov.go.id/asset/foto_info/elpiji.jpg")
                .content
                    span.date update: 10/02/2021
                    h3.item-title Gas LPG 3 KG
                    span.harga Rp. 25.000
            div.item
                figure
                    img(src="https://indagkop.kaltimprov.go.id/asset/foto_info/elpiji.jpg")
                .content
                    span.date update: 10/02/2021
                    h3.item-title Gas LPG 3 KG
                    span.harga Rp. 25.000
            div.item
                figure
                    img(src="https://indagkop.kaltimprov.go.id/asset/foto_info/elpiji.jpg")
                .content
                    span.date update: 10/02/2021
                    h3.item-title Gas LPG 3 KG
                    span.harga Rp. 25.000