.card#recent-news
    .card-header
        strong.card-title Berita terbaru
    .card-body
        div.items.list
            .item
                .content
                    span.date 10/02/2021
                    h2.item-title Rakor Bapok menuju HBKN
            .item
                .content
                    span.date 10/02/2021
                    h2.item-title Webinar Rakernas Kementerian Perdagangan
            .item
                .content
                    span.date 10/02/2021
                    h2.item-title Rakernas Dewan Kerajinan Nasional 2021
            .item
                .content
                    span.date 10/02/2021
                    h2.item-title Hilirisasi Komoditas Perkebunan Untuk Mendukung Ekspor Kaltim