section#seputar
    header
        h3.section-title.bordered Seputar 
            span INDAGKOP
    div.items.big
        div.row
            div.item.col
                figure
                    img.thumbnail(src="https://indagkop.kaltimprov.go.id/asset/foto_berita/DSC_6064.JPG")
                div.content 
                    span.date 10/02/2021
                    h2.item-title Rakor Bapok menuju HBKN
            div.item.col
                figure
                    img.thumbnail(src="https://indagkop.kaltimprov.go.id/asset/foto_berita/rakor_bapok.jpg")
                div.content 
                    span.date 10/02/2021
                    h2.item-title Webinar Rakernas Kementerian Perdagangan
            div.item.col
                figure
                    img.thumbnail(src="https://indagkop.kaltimprov.go.id/asset/foto_berita/rakernas_kemendag.jpg")
                div.content 
                    span.date 10/02/2021
                    h2.item-title Rakernas Dewan Kerajinan Nasional 2021
            div.item.col
                figure
                    img.thumbnail(src="https://indagkop.kaltimprov.go.id/asset/foto_berita/DSC00098.JPG")
                div.content 
                    span.date 10/02/2021
                    h2.item-title Hilirisasi Komoditas Perkebunan Untuk Mendukung Ekspor Kaltim
            div.item.col
                figure
                    img.thumbnail(src="https://indagkop.kaltimprov.go.id/asset/foto_berita/ulin_2.jpg")
                div.content 
                    span.date 10/02/2021
                    h2.item-title Webinar Rakernas Kementerian Perdagangan