.card#poll
    .card-body
        p.alert.alert-warning BAGAIMANAKAH KINERJA INSTANSI DINAS PERINDAGKOP & UKM PROV. KALTIM ?
        .form-check
            input.form-check-input(type='checkbox')
            label.form-check-label Kurang
        .form-check
            input.form-check-input(type='checkbox')
            label.form-check-label Bagus 
        .form-check
            input.form-check-input(type='checkbox')
            label.form-check-label Sangat Bagus 