div.container
    div.row
        div.col-md-4(style='text-align: center')
            strong Dinas Perindagkop & UKM
            span Provinsi Kalimantan Timur
            p Jl. Basuki Rahmat No.55, Sungai Pinang Luar, Kec. Samarinda Kota, Kota Samarinda, Kalimantan Timur 75117