header.navbar.navbar-expand.sticky
    div.container.fluid
        div.navbar-brand
            img(src="img/kaltimprov.png")
            h1 Dinas Perindagkop & UKM
                span Provinsi Kalimantan Timur
        nav.d-none.d-md-inline
            ul.navbar-nav
                li.nav-item
                    a.nav-link(href="#") Beranda
                li.nav-item
                    a.nav-link(href="#") Tentang Kami 
                li.nav-item
                    a.nav-link(href="#") Program & Kegiatan 
                li.nav-item
                    a.nav-link(href="#") Bidang & UPTD 
                li.nav-item
                    a.nav-link(href="#") Berita
                li.nav-item
                    a.nav-link(href="#") Informasi
                li.nav-item
                    a.nav-link(href="#") Layanan
                li.nav-item
                    a.nav-link(href="#") PPID