extends ../layouts/default.pug

block content
    div.main.d-flex.align-items-center
        .container 
            .row
                .col.text-center
                    h1 UI First
                    p Let's work on it! :)