extends ../layouts/default.pug

block content
    .container.d-flex.flex-column.justify-content-md-center(style="height: 100vh")
        .row.justify-content-center
            .col-md-6.text-center
                h1 UI First
                p Let's start
